<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Converter de PDF para DOCX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Carregue um arquivo PDF para converter para DOCX</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="application/pdf">
      <input type="submit" value="Upload">
    </form>

     <footer>
      <p>©Copyright 2024 by Guilherme Lobato. All rights reversed.</p>
    </footer>
  </body>
</html>
